@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

:root {
  --red1: #ca44229a;
  --red2: rgb(201, 154, 14);
  --blue: #a524d8;
  --cyan: #70d2fc;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Syne Mono", monospace;
}

main {
  position: relative;
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: white;
}

button {
  border: none;
}

.parallax {
  pointer-events: none;
  transition: 0.5s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

.bg-img {
  position: absolute;
  z-index: 1;
  width: 120%;
  top: 50%;
  left: 50%;
  filter: blur(3px);
  -webkit-filter: blur(4px);
}

.fireboy {
  position: absolute;
  z-index: 2;
  width: 15%;
  top: calc(50% + 220px);
  left: calc(50% - 400px);
}

.watergirl {
  position: absolute;
  z-index: 3;
  width: 15%;
  top: calc(50% + 200px);
  left: calc(50% + 300px);
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  font-size: 50px;
  z-index: 4;
  width: 70%;
  top: calc(50% - 120px);
  left: calc(50%);
}

.title,
.play {
  display: flex;
  gap: 40px;
}

.play {
  text-decoration: none;
  pointer-events: auto;
}

.title {
  background: linear-gradient(90deg, var(--red2), var(--blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.play {
  background: linear-gradient(90deg, var(--red2), var(--blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
