.character-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

img {
  width: 50px;
  height: auto;
}

#character-selection {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 200px;
}

.character {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  width: 150px;
}

.character-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
